.tab {
    background-color: #F2F0F0;
    color: #2B3343;
}

.tab:active {
    transform: scale(0.98);
}

.tab:hover {
    background-color: #0078EE;
    color: #FFFFFF;
}

.tab--active {
    background-color: #0078EE;
    color: #FFFFFF;
}

.tab__radio-input {
    display: none;
}

.tab__content{
    display: block;
    padding: 26px 20px;
}

.tab__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 123%;
    padding-bottom: 26px;
}

.tab__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 123%;
}

@media (max-width: 680px) {
    .tab__title {
        font-size: 20px;
    }

    .tab__description {
        font-size: 12px;
        line-height: 133%;
    }

    .tab__title--wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

}
